<section class="adv">
	<div class="adv_head " data-add="img/cut/ttop.png"> </div>
	<div class="posr">
		<img src="img/dec/dec1.jpg" class="adv_dec adv_dec-1" onerror=" $(this).onerrorimg(); " alt=""> 
		<img src="img/dec/dec2.jpg" class="adv_dec adv_dec-2" onerror=" $(this).onerrorimg(); " alt=""> 
		<img src="img/dec/dec3.jpg" class="adv_dec adv_dec-3" onerror=" $(this).onerrorimg(); " alt=""> 
		<div class="container ">
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					<div class="adv_el">
						<div class="adv_img unload" data-dadd="img/poster/p1.jpg" >
							<img src="img/squere.jpg" alt="" onerror=" $(this).onerrorimg(); " class="sample">
						</div>
						<div class="adv_text">
							<div class="adv_dev"></div>
							<p>Высокий уровень питания, собственная кухня</p>
						</div>
						<button class="btn">
							подробнее >
						</button>


					</div>
				</div>
				<div class="col-xs-12 col-sm-3">
					<div class="adv_el">
						<div class="adv_img unload" data-dadd="img/poster/p2.jpg" >
							<img src="img/squere.jpg" alt="" onerror=" $(this).onerrorimg(); " class="sample">
						</div>
						<div class="adv_text">
							<div class="adv_dev"></div>
							<p>Большая территория с игровой площадкой и покрытием</p>
						</div>
						<button class="btn">
							подробнее >
						</button>


					</div>
				</div>
				<div class="col-xs-12 col-sm-3">
					<div class="adv_el">
						<div class="adv_img unload" data-dadd="img/poster/p3.jpg" >
							<img src="img/squere.jpg" alt="" onerror=" $(this).onerrorimg(); " class="sample">
						</div>
						<div class="adv_text">
							<div class="adv_dev"></div>
							<p>Квалиф   ицированный персонал, собственный психолог и логопед</p>
						</div>
						<button class="btn">
							подробнее >
						</button>


					</div>
				</div>
				<div class="col-xs-12 col-sm-3">
					<div class="adv_el">
						<div class="adv_img unload" data-dadd="img/poster/test.jpg" >
							<img src="img/squere.jpg" alt="" onerror=" $(this).onerrorimg(); " class="sample">
						</div>
						<div class="adv_text">
							<div class="adv_dev"></div>
							<p>Индивидуальная работа с каждым ребенком <br> (группы до 15 человек)</p>
						</div>
						<button class="btn">
							подробнее >
						</button>


					</div>
				</div>
			</div>
		</div>
		
		<div class="slider-dots text-center"></div>
		<div class="slider-btn"></div>
	</div>
	
</section>