<section class="galery">
	<div class="container">
		<p class="h1">
			Фотографии
		</p>
		<div class="posr">
			<div class="galery_slider">
				 
				<div class="galery_slide">
					<div class="galery_el" data-large="../img/photo/gal1.jpg">
						<img src="../img/photo/gal1.jpg" alt="">
						<i class="icon-zoom-in"></i>
					</div>
				</div>
				<div class="galery_slide">
					<div class="galery_el">
						<img src="../img/photo/gal2.jpg" data-large="../img/photo/gal2.jpg" alt="">
						<i class="icon-zoom-in"></i>
					</div>
				</div>
				<div class="galery_slide">
					<div class="galery_el">
						<!-- no data-large example -->
						<img src="../img/photo/gal3.jpg" alt="">
						<i class="icon-zoom-in"></i>
					</div>
				</div>
				<div class="galery_slide">
					<div class="galery_el" data-large="../img/photo/gal1.jpg">
						<img src="../img/photo/gal1.jpg" alt="">
						<i class="icon-zoom-in"></i>
					</div>
				</div>
				<div class="galery_slide">
					<div class="galery_el">
						<img src="../img/photo/gal2.jpg" data-large="../img/photo/gal2.jpg" alt="">
						<i class="icon-zoom-in"></i>
					</div>
				</div>
				<div class="galery_slide">
					<div class="galery_el" data-large="../img/photo/gal3.jpg">
						<img src="../img/photo/gal3.jpg" alt="">
						<i class="icon-zoom-in"></i>
					</div>
				</div>
			</div>
			<div class="slider-dots text-right"></div>
		</div>
		<div class="slider-btn"></div>
	</div>
	<div class="galery-popup">
		<div class="middler ">
			<img src="../img/loader.gif" alt="">
			
		</div>
	</div>
</section>