<section class="nap">
	<img src="img/dec/team_dec1.png" alt="" class="nap_decor nap_decor-1">

	<div class="nap_head">  </div>
	
	<div class="nap_cont">
		<img src="img/dec/nap_dec.png" alt="" class="nap_decor">
		<div class="nap_pos">
			<div class="container ">
				<p class="h1">
					Направления
				</p>

				<div class="row va-middle turn-phone">
					<div class="col-xs-12 col-sm-4"> 
						<p class="sl_h1">Фотогалерея</p>
						<div class="sl_text">
							<p>
								Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании систем массового участия. Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании соответствующий условий активизации.
							</p>
							<button class="btn nap_btn js-popup">подробнее ></button>
						</div>
					</div>
					<div class="col-xs-12 col-sm-8"> 
						<div class="nap_slider-cont">
							<div class="nap_slider">
								<div class="nap_slide">
									<div class="nap_el">
										<div class="nap_img">
											<img src="img/nap_slide.jpg" alt="">
										</div>
										<div class="nap_png">
											<img src="img/dec/slid-decor.png" alt="">
										</div>
									</div>
								</div>
								<div class="nap_slide">
									<div class="nap_el">
										<div class="nap_img">
											<img src="img/nap_slide.jpg" alt="">
										</div>
										<div class="nap_png">
											<img src="img/dec/slid-decor.png" alt="">
										</div>
									</div>
								</div>
								<div class="nap_slide">
									<div class="nap_el">
										<div class="nap_img">
											<img src="img/nap_slide.jpg" alt="">
										</div>
										<div class="nap_png">
											<img src="img/dec/slid-decor.png" alt="">
										</div>
									</div>
								</div>
								<div class="nap_slide">
									<div class="nap_el">
										<div class="nap_img">
											<img src="img/nap_slide.jpg" alt="">
										</div>
										<div class="nap_png">
											<img src="img/dec/slid-decor.png" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="nap_slider-dots">
							<div class="nap_dotsslider">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="nap_footer">  </div>


</section>