<section class="popup ">
	
	<div class="popup_wind">
		<img src="../img/popo_dec1.jpg" alt="" class="popup_dec popup_dec-1">
		<img src="../img/popo_dec2.jpg" alt="" class="popup_dec popup_dec-2">
		<div class="popup_wind-cont">	
			<p class="popup_h1">оставьте заявку</p>
			<form action="" class="popup_form">
				<div class="popup_input">
					<div class="img">
						<img src="img/user_icon.png" alt="">
					</div>
					<div class="input">
						<input type="text" placeholder="Имя">
					</div>
				</div>
				<div class="popup_input">
					<div class="img">
						<img src="img/phone_icon.png" alt="">
					</div>
					<div class="input">
						<input type="text" placeholder="Телефон">
					</div>
				</div>
				<input type="submit" value="Записатся" class="btn popup_btn">
			</form>
		</div>
	</div>
</section>