<section class="rev">
	<div class="rev_head ">  </div>
	<div class="rev_cont">
		<div class="container">
			<p class="h1">Отзывы</p>
			<div class="rev_slider">
				<div class="rev_slide">
					<div class="rev_el">
						<img src="../img/slide.jpg" alt="">
					</div>

				</div>
				<div class="rev_slide">
					<div class="rev_el">
						<img src="../img/slide.jpg" alt="">
					</div>
					 
				</div>
				<div class="rev_slide">
					<div class="rev_el">
						<img src="../img/slide.jpg" alt="">
					</div>
					 
				</div>
				<div class="rev_slide">
					<div class="rev_el">
						<img src="../img/slide.jpg" alt="">
					</div>
					 
				</div>
				<div class="rev_slide">
					<div class="rev_el">
						<img src="../img/slide.jpg" alt="">
					</div>
					 
				</div>
			</div>
		</div>

		 
	</div>
	<div class="rev_footer">  </div>
</section>


<style>
	 
</style>

<script>
	 
</script>