<section class="sl">
	<div class="sl_cont">	
		<img src="../img/sl_d1.jpg" alt="" class="sl_dec sl_dec-1">
		<div class="container ">
			<div class="row va-middle turn-phone">
				<div class="col-xs-12 col-sm-5" > 
					<p class="sl_h1">Фотогалерея</p>
					<div class="sl_text">
						<p>
							Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании систем массового участия. Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании соответствующий условий активизации. Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке новых предложений.
						</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-2"></div>
				<div class="col-xs-12 col-sm-5"> 
					//= el_vslider.html
				</div>
			</div>
		</div>
	</div>

	<div class="sl_cont">	
		<img src="../img/sl_d2.jpg" alt="" class="sl_dec sl_dec-2">
		<div class="container ">
			<div class="row va-middle full-w">
				<div class="col-xs-12 col-sm-6"> 
					
					//= el_hor.html
					
				</div>
				<div class="col-xs-12 col-sm-1"></div>
				<div class="col-xs-12 col-sm-5 col-sm-offset-1 " > 
					<p class="sl_h1 sl_h1-pink">Видеогалерея</p>
					<div class="sl_text">
						<p>
							Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании систем массового участия. Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании соответствующий условий активизации. Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке новых предложений.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>