<section class="team">
	<div class="team_head unload " data-add="img/cut/btop.png" >   </div>
	<div class="posr">
		<div class="team_cont">
			<p class="h1">
				Наши преимущества
			</p>
			<div class="container ">
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<div class="tadv_el">
							<div class="tadv_top">
								<img src="../img/squere.jpg" class="sample" alt="">
								<i class="icon-rocket"></i>
							</div>
							<div class="adv_text nodec">
								<p class="bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3">
						<div class="tadv_el">
							<div class="tadv_top">
								<img src="../img/squere.jpg" class="sample" alt="">
								<i class="icon-star"></i>
							</div>
							<div class="adv_text nodec">
								<p class="bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3">
						<div class="tadv_el">
							<div class="tadv_top">
								<img src="../img/squere.jpg" class="sample" alt="">
								<i class="icon-smile"></i>
							</div>
							<div class="adv_text nodec">
								<p class="bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3">
						<div class="tadv_el">
							<div class="tadv_top">
								<img src="../img/squere.jpg" class="sample" alt="">
								<i class="icon-lemon"></i>
							</div>
							<div class="adv_text nodec">
								<p class="bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="team_footer unload " data-add="img/cut/bbott.png" >   </div>
</section>