<section class="team">
	<div class="posr">
		<div class="container team_cont">
			<div class="posr">
				<p class="h1">Наша команда</p>
				<div class="team_slider">
					<div class="team_slide">	
						<div class="team_el">
							<div class="team_photo">
								<div class="team_img unload" data-dadd="img/photo/photo1.jpg">
									<img src="img/squere.jpg" class="sample" alt="">
								</div>
								<img src="img/dec/team_pdec.png" class="team_photo-decor">
							</div>
							<div class="team_text">
								<p class="team_name">Антонина Николаева</p>
								<p class="team_pos">Воспитатель</p>
							</div>
						</div>
					</div>
					<div class="team_slide">	
						<div class="team_el">
							<div class="team_photo">
								<div class="team_img unload" data-dadd="img/photo/photo2.jpg">
									<img src="img/squere.jpg" class="sample" alt="">
								</div>
								<img src="img/dec/team_pdec.png" class="team_photo-decor">
							</div>
							<div class="team_text">
								<p class="team_name">Наталья Андреева</p>
								<p class="team_pos">Воспитатель</p>
							</div>
						</div>
					</div>
					<div class="team_slide">	
						<div class="team_el">
							<div class="team_photo">
								<div class="team_img unload" data-dadd="img/photo/photo3.jpg">
									<img src="img/squere.jpg" class="sample" alt="">
								</div>
								<img src="img/dec/team_pdec.png" class="team_photo-decor">
							</div>
							<div class="team_text">
								<p class="team_name">Татьяна Иванова</p>
								<p class="team_pos">Воспитатель</p>
							</div>
						</div>
					</div>
					<div class="team_slide">	
						<div class="team_el">
							<div class="team_photo">
								<div class="team_img unload" data-dadd="img/photo/photo4.jpg">
									<img src="img/squere.jpg" class="sample" alt="">
								</div>
								<img src="img/dec/team_pdec.png" class="team_photo-decor">
							</div>
							<div class="team_text">
								<p class="team_name">Маргарита Петрова</p>
								<p class="team_pos">Воспитатель</p>
							</div>
						</div>
					</div>

					<div class="team_slide">	
						<div class="team_el">
							<div class="team_photo">
								<div class="team_img unload" data-dadd="img/photo/photo1.jpg">
									<img src="img/squere.jpg" class="sample" alt="">
								</div>
								<img src="img/dec/team_pdec.png" class="team_photo-decor">
							</div>
							<div class="team_text">
								<p class="team_name">Антонина Николаева</p>
								<p class="team_pos">Воспитатель</p>
							</div>
						</div>
					</div>
					<div class="team_slide">	
						<div class="team_el">
							<div class="team_photo">
								<div class="team_img unload" data-dadd="img/photo/photo2.jpg">
									<img src="img/squere.jpg" class="sample" alt="">
								</div>
								<img src="img/dec/team_pdec.png" class="team_photo-decor">
							</div>
							<div class="team_text">
								<p class="team_name">Наталья Андреева</p>
								<p class="team_pos">Воспитатель</p>
							</div>
						</div>
					</div>
					<div class="team_slide">	
						<div class="team_el">
							<div class="team_photo">
								<div class="team_img unload" data-dadd="img/photo/photo3.jpg">
									<img src="img/squere.jpg" class="sample" alt="">
								</div>
								<img src="img/dec/team_pdec.png" class="team_photo-decor">
							</div>
							<div class="team_text">
								<p class="team_name">Татьяна Иванова</p>
								<p class="team_pos">Воспитатель</p>
							</div>
						</div>
					</div>
					<div class="team_slide">	
						<div class="team_el">
							<div class="team_photo">
								<div class="team_img unload" data-dadd="img/photo/photo4.jpg">
									<img src="img/squere.jpg" class="sample" alt="">
								</div>
								<img src="img/dec/team_pdec.png" class="team_photo-decor">
							</div>
							<div class="team_text">
								<p class="team_name">Маргарита Петрова</p>
								<p class="team_pos">Воспитатель</p>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-dots text-right"></div>
			</div>
			<div class="slider-btn"></div>
		</div>
	</div>
</section>