<div class="hor-large">

</div>
<div class="hor-min_cont">	
	<div class="hor-min">
		<div class="hor-min_slide">
			<div class="hor-min_el">
				<img src="img/thumb.jpg" data-yid='oq3zqIgHmfQ' alt="">
			</div>
		</div>
		<div class="hor-min_slide">
			<div class="hor-min_el">
				<img src="img/thumb.jpg" data-yid='bu1Y-jF4sWk' alt="">
			</div>
		</div>
		<div class="hor-min_slide">
			<div class="hor-min_el">
				<img src="img/thumb.jpg" data-yid='8AiPkmATeRU' alt="">
			</div>
		</div>
	</div>
</div>

<script src="https://www.youtube.com/iframe_api"></script>