<div class="sidebar">
	<p class="sidebar_h1">Недавние</p>
	<div class="sidebar_el">
		<div class="sidebar_img">
			<img src="../img/thumb_news.jpg" alt="">
		</div>
		<div class="sidebar_text">	
			<a href="#" class="sidebar_name">Название новости</a>
			<p class="news_time">
				<i class="icon-clock-1"></i>
				11:45, 17 января, 2018
			</p>
		</div>
	</div>
	<div class="sidebar_el">
		<div class="sidebar_img">
			<img src="../img/thumb_news.jpg" alt="">
		</div>
		<div class="sidebar_text">	
			<a href="#" class="sidebar_name">Название новости</a>
			<p class="news_time">
				<i class="icon-clock-1"></i>
				11:45, 17 января, 2018
			</p>
		</div>
	</div>
	<div class="sidebar_el">
		<div class="sidebar_img">
			<img src="../img/thumb_news.jpg" alt="">
		</div>
		<div class="sidebar_text">	
			<a href="#" class="sidebar_name">Название новости</a>
			<p class="news_time">
				<i class="icon-clock-1"></i>
				11:45, 17 января, 2018
			</p>
		</div>
	</div>
	<div class="sidebar_el">
		<div class="sidebar_img">
			<img src="../img/thumb_news.jpg" alt="">
		</div>
		<div class="sidebar_text">	
			<a href="#" class="sidebar_name">Название новости</a>
			<p class="news_time">
				<i class="icon-clock-1"></i>
				11:45, 17 января, 2018
			</p>
		</div>
	</div>
	<div class="sidebar_el">
		<div class="sidebar_img">
			<img src="../img/thumb_news.jpg" alt="">
		</div>
		<div class="sidebar_text">	
			<a href="#" class="sidebar_name">Название новости</a>
			<p class="news_time">
				<i class="icon-clock-1"></i>
				11:45, 17 января, 2018
			</p>
		</div>
	</div>
</div>