<div class="vslider">
	<div class="vslider-slick">
		<div class="vslider_slide">
			<div class="vslider_el">
				<img src="img/gal.jpg" alt="">
			</div>
		</div>
		<div class="vslider_slide">
			<div class="vslider_el">
				<img src="img/gal.jpg" alt="">
			</div>
		</div>
		<div class="vslider_slide">
			<div class="vslider_el">
				<img src="img/gal.jpg" alt="">
			</div>
		</div>
		<div class="vslider_slide">
			<div class="vslider_el">
				<img src="img/gal.jpg" alt="">
			</div>
		</div>
		<div class="vslider_slide slick">
			<div class="vslider_el">
				<img src="img/gal.jpg" alt="">
			</div>
		</div>
		<div class="vslider_slide">
			<div class="vslider_el">
				<img src="img/gal.jpg" alt="">
			</div>
		</div>
		<div class="vslider_slide">
			<div class="vslider_el">
				<img src="img/gal.jpg" alt="">
			</div>
		</div>
		<div class="vslider_slide">
			<div class="vslider_el">
				<img src="img/gal.jpg" alt="">
			</div>
		</div>
		<div class="vslider_slide">
			<div class="vslider_el">
				<img src="img/gal.jpg" alt="">
			</div>
		</div>
		<div class="vslider_slide">
			<div class="vslider_el">
				<img src="img/gal.jpg" alt="">
			</div>
		</div>
		<div class="vslider_slide">
			<div class="vslider_el">
				<img src="img/gal.jpg" alt="">
			</div>
		</div>
		<div class="vslider_slide slick-current">
			<div class="vslider_el">
				<img src="img/gal.jpg" alt="">
			</div>
		</div>
		<div class="vslider_slide">
			<div class="vslider_el">
				<img src="img/gal.jpg" alt="">
			</div>
		</div>
		<div class="vslider_slide">
			<div class="vslider_el">
				<img src="img/gal.jpg" alt="">
			</div>
		</div>
	</div>

</div>
