<!-- BEGIN FOOTER -->	
<footer class="footer">
	<div class="footer_head ">  </div>
	<div class="footer_cont">	
		<div class="container">	
			<div class="row">
				<div class="col-xs-12 text-center">

					<div id="footerhidder" class="footer_hider">
						<div class="footer_text">
							<h1>Детский сад в Одессе</h1>
							<p>Каждый родитель рано или поздно предстает перед выбором: в какой одесский детский сад отдать своего ребенка? Как же выбрать наилучший из предложенных вариантов? Сегодня большую популярность набирают частные детские сады в Одессе. Это не удивительно, ведь государственных учреждений на всех не хватает. Молодые родители просто не в силах дождаться нескончаемой очереди и отдают ребенка в частный детский сад в Одессе. Такие дошкольные учреждения обладают массой преимуществ, которые благоприятно скажутся на воспитании вашего ребенка.</p>
							<h2>Регистрация в детский сад «Happy Time»</h2>
							<p>Каждый малыш, перед тем как идти в школу, должен пройти так называемый «курс молодого бойца». Он должен овладеть определенным уровнем мышления, научиться общению со сверстниками и преподавателями, стать самостоятельным и воспитанным. Преподаватели нашего детского сада «Happy Time» помогут вашему малышу подготовиться ко взрослой жизни. На нашем официальном сайте вы можете узнать обо всех подробностях обучения у нас и зарегистрироваться к нам в детский сад в Одессе. Мы можем с уверенностью сказать, что наше учреждение является одним из лучших в городе и убедиться в этом можно, прочитав отзывы о детском саде интернете. Мы лучшие потому что:</p>
							<ul>
								<li>Наши преподаватели являются квалифицированными специалистами и обладают большим опытом работы в сфере обучения и воспитания деток.</li>
								<li>Занятия в детском саду проводятся по современным методикам с элементами классических. Собственные наработки позволяют нам раскрыть в каждом ребенке потенциал.</li>
								<li>У нас широкая обучающая программа, которая включает в себя различные отрасли: вокал, хореография, актерское мастерство, постановка техники речи, обучение английскому языку, занятия с логопедом, занятия шахматами, подготовка к школе.</li>
								<li>Мы развиваем творческий потенциал ребенка и помогаем ему открыться.</li>
								<li>Наши воспитатели находят индивидуальный подход к каждому ребенку.</li>
								<li>У нас всегда интересно, потому что мы проводим уроки в игровой форме. Все дети с головой погружаются в процесс обучения.</li>
								<li>Мы проводим различного рода мероприятия и концерты, в которых активно принимают участие все дети нашего детского сада.</li>
								<li>У нас пятиразовое питание, разработанное диетологом, врачом и шеф-поваром.</li>
								<li>У нас ежедневный медицинский контроль для каждого малыша.</li>
								<li>Каждый малыш в «Happy Time» чувствует себя комфортно и уютно, ведь у нас уютный интерьер и отличная игровая площадка.</li>
								<li>У нас всегда царит теплая и дружелюбная атмосфера.</li>
							</ul>
							<h3>Детский сад ясли</h3>
							<p>Выбор детского сада ясли — это очень важная и ответственная миссия. Наш детский сад «Happy Time» предлагает для вашего ребенка гармоничное развитие, заботу, регулярное пятиразовое питание, развивающие уроки и многое другое. Узнать все подробности вы можете на нашем сайте. Если вы все еще раздумываете о регистрации ребенка в детский сад Одессы «Happy Time», то приходите к нам, чтобы убедиться во всех преимуществах самостоятельно. Мы с радостью вас проконсультируем, расскажем о цене 2017 детского сада и проведем экскурсию по помещению.</p>
							<p>Скорее записывайтесь к нам! Мы предоставим новый уровень воспитания для вашего чада по прекрасной цене!</p>
						</div>
					</div>
					<button class="footer_btn">узнать больше об академии детства</button>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
					<p class="footer_h1">Академия детства</p>
					<p class="footer_name">cчастливые дети - спокойные родители</p>
				</div>
			</div>
			<div class="row va-middle">
				<div class="col-xs-12 col-sm-1"></div>
				<div class="col-xs-12 col-sm-3">
					<div class="footer_el">	
						<i class="icon-location">	</i>
						<o class="footer_name">Адрес:</o>
						<div class="footer_text">
							<p>ул. Семена Яхненка, 14, 
							г. Одесса, 65000</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="footer_el">	
						<i class="icon-address-book">	</i>
						<o class="footer_name">Контакты:</o>
						<div class="footer_text">	
							<a href="tel:+380487990412">+38 (048) 799-04-12</a>
							<a href="tel:+380674842271">+38 (067) 484-22-71</a>
							<a href="mailto:akademia.detstva.od.ua@gmail.com">akademia.detstva.od.ua@gmail.com</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3">
					<div class="footer_el">	
						<i class="icon-clock">	</i>
						<o class="footer_name">Время работы:</o>
						<div class="footer_text">
							<p>Пн - Пт (8:00 - 19:00)
							Сб, Вс - выходной</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="footer_bottom">
		<div class="copy text-center">
			<p>
				<i class="icon-copyright"></i> designed and developed by <a href="">Sale Partners</a>
			</p>
		</div>
	</div>
	<img src="img/cut/footer_l.png" alt="" class="footer_left">
	<img src="img/cut/footer_r.png" alt="" class="footer_right">
</footer>
<!-- FOOTER EOF   -->