<!-- BEGIN HEADER -->
<header class="header">
	<div class="header_lcont">
		<div class="container ">
			<div class="row">
				<div class="col-xs-12 col-sm-2 text-center posr">
					<div class="header_logo header_logo-mod">
						<!-- <img src="img/logo.svg" onerror=" $(this).onerrorimg(); " data-src="img/logo.png" alt="#"> -->
						<a href="index.html"><img src="img/logo_akdet.png" alt=""></a>
						<!-- <p>
							Академия <br>
							детства
						</p> -->
					</div>
					<div class="header_bcont-btn">
						<button class="header_btn">
							<span></span>
							<span></span>
							<span></span>
						</button>
					</div>
					<img src="img/logoconer.png" class="header_coner" alt="#" class="decor">
				</div>
				<div class="col-xs-12 col-sm-10">
					<div class="header_top-decor"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="header_tcont">
		<div class="container ">
			<div class="row">
				<div class="col-xs-12 col-sm-2"></div>
				<div class="col-xs-12 col-sm-10">
					<div class="header_top">
						<ul class="header_top-list">
							<li class="header_top-item">
								<a class="header_tlink phone" href="tel:+380487990412">
									<i class="icon-phone"></i>
									+38 (048) 799-04-12
								</a>
							</li>
							<li class="header_top-item">
								<a class="header_tlink phone" href="tel:+380674842271">
									<i class="icon-phone"></i>
									+38 (067) 484-22-71
								</a>
							</li>
							<li class="header_top-item">
								<a class="header_tlink mail" href="mailto:akademia.detstva.od.ua@gmail.com">
									<i class="icon-mail-alt"></i>
									akademia.detstva.od.ua@gmail.com
								</a>
							</li>
						</ul>
						<ul class="scl">
							<li class="scl_item"> <a href="#" class="scl_link"> <i class=" icon-instagram"></i> </a> </li>
							<li class="scl_item"> <a href="#" class="scl_link"> <i class=" icon-facebook"></i> </a> </li>
							<li class="scl_item"> <a href="#" class="scl_link"> <i class=" icon-youtube-play"></i> </a> </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="header_bcont">
		<div class="container ">
			<div class="row">
				<div class="col-xs-12 col-sm-2"></div>
				<div class="col-xs-12 col-sm-10 text-right">
					<ul class="header_bcont-list">
						<li class="header_bcont-item active">
							<a href="index.html" class="header_blink">
								Домой
							</a>
						</li>
						<li class="header_bcont-item">
							<a href="news.html" class="header_blink">
								Новости
							</a>
						</li>
						<li class="header_bcont-item">
							<a href="#" class="header_blink">
								О нас
							</a>
						</li>
						<li class="header_bcont-item">
							<a href="#" class="header_blink">
								Альбом
							</a>
						</li>
						<li class="header_bcont-item">
							<a href="#" class="header_blink">
								Контакты
							</a>
						</li>
						<li class="header_bcont-item">
							<a href="#" class="header_blink">
								<i class="icon-search"></i>
							</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	
</header>
<!-- HEADER EOF   -->	


