.team{
	&_photo{
		position: relative;
		z-index: 1;
		&:before{
			content: '';
			width: (211/@bfz)*1em;	
			height: (211/@bfz)*1em;	
			border: (15/@bfz)*1em solid @teamph;
			display: block;	
			position: absolute;
			right: 	-(5/@bfz)*1em;
			top: -(15/@bfz)*1em;
			border-radius: 50%;
			z-index: -1;

		}
		&-decor{
			position: absolute;
			left: 0;	
			right: 0;	
			bottom: -(2/@bfz)*1em;	
		}
	}
	&_text{
		margin-top: (30/@bfz)*1em;	
		text-align: center;
		position: relative;
		&:before{
			display: inline-block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: (0/@bfz)*1em;
			width: (14/@bfz)*1em;
			height: (68/@bfz)*1em;
			content: '';
			background: url(../img/div_prpl.png);
			background-repeat: no-repeat;
		}

	}
	&_name, &_pos{
		color: @tcolor;
	}
	&_slide{
		padding-top: (50/@bfz)*1em;
	}
	
	&_name{
		.ad;
		
		@tfz:26;
		font-size: (@tfz/@bfz)*1em;
	}
	&_pos{
		@tfz:16;
		font-size:(@tfz/@bfz)*1em ;
		.got;

	}

	&_img{
		border-radius: 50%;
		border-width: (5/@bfz)*1em;
		border-color: @white;
		border-style: solid;
		background-position: center;
		background-size: cover;

		box-shadow: 0px 0px (10/@bfz)*1em 0px fade(@teamshad,20%);
		

	}
	&_el{
		width: (264/@bfz)*1em;
		position: relative;	
		margin: auto;
	}
	.slick{
		&-dots{
			margin-top: (70 /@bfz)*1em;
		}
	}
	.slider-dots{
		position: absolute;
		top: 100%;
		left: 0;	
		right: 0;	

	}
}


@media @phone-max{
	.team{
		
		&_dec,&_head,&_footer{
			display: none;
		}
		&_cont{
			position: static;
		}
		.slider-dots{
			position: relative;
		}
	}
}